.app{
  background-color: #ece6dd;
  background-color:  #A45C40;
}

::-webkit-scrollbar {
  display: none;
}
.sign_up{
  display: flex;
  
  background: url("C:\Users\lenovo\OneDrive\Desktop\ZIggu's pintrest app\my-app\src\Photos\first page.png");
/* border: 2px black solid; */
 height: 100vh;
 align-items: center;
/* background-color: #FAB333; */
font-family: 'Gotham Narrow SSm A' , 'Gotham Narrow SSm B', sans-serif;
background-repeat: no-repeat;
background-size: cover;



}

#right{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.login_btn{
  background-color: black;
  color: white;
  width: 20%;
     border-radius: 0.5rem;
     padding: 1rem 0;
     border: none;
}
.login_btn:hover{
  background-color: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
  transition-duration: 0.4s;

}
.image_grid{
  margin-top: 20rem ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5rem;
  padding: 0rem 10rem;
}
.img_wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  /* background: #f3f3f3; */

}
.img_wrap img{
  min-width: 100%;
  min-height: 100%;

  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0rem;
  /* margin-right: 3rem; */
  
  /* display: inline; */
}
input[type="file"] {
  display: none;
}
#icon{
  font-size: 2.2rem;
}
#upload{
  /* background-color: #FAB333; */
  color: #ece6dd;
}
.dashboard{
  background-color: #F6EEE0;
color: #7B583D;
display: flex;
justify-content: space-around;
font-size: 2.5rem;
padding: 4rem;
}
.dashboard a{
  cursor: pointer;
}
#profile_image{
  border-radius: 50%;
  transform: scale(0.5);
  border: none;
  display: inline;
}
#icon{
  font-size: 6.2rem;
  position: absolute;
  left:65rem;
}